*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:linear-gradient(#07111f,#13233d,#1d3557);
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family:Georgia, serif;

    overflow:hidden;

    color:white;

}

.inicio{

    text-align:center;
    max-width:700px;
    padding:30px;

}

h1{

    font-size:55px;
    margin-bottom:30px;

}

p{

    font-size:22px;
    margin-bottom:15px;

    opacity:.85;

}

button{

    margin-top:35px;

    padding:18px 45px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    font-size:20px;

    transition:.3s;

}

button:hover{

    transform:scale(1.08);

} 
.estrela{

    position:absolute;

    width:2px;

    height:2px;

    background:white;

    border-radius:50%;

    animation:piscar 2s infinite;

}

@keyframes piscar{

    50%{

        opacity:.2;

    }

}
