*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#020412;

    height:100vh;

    overflow:hidden;

    color:white;

    font-family:Arial, Helvetica, sans-serif;

}

#inicio{

    width:100vw;
    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

h1{

    margin-bottom:40px;

    font-size:40px;

}

button{

    padding:15px 35px;

    font-size:20px;

    border:none;

    border-radius:30px;

    cursor:pointer;

}

#ceu{

    width:100vw;
    height:100vh;

    position:relative;

}

.escondido{

    display:none;

}
.estrela{

    position:absolute;

    color:white;

    font-size:28px;

    cursor:pointer;

    user-select:none;

    transition:0.3s;

}

.estrela:hover{

    transform:scale(1.4);

}
.estrela{

    position:absolute;

    font-size:28px;

    animation:piscar 2s infinite;

}

@keyframes piscar{

    0%{
        opacity:0.4;
        transform:scale(1);
    }

    50%{
        opacity:1;
        transform:scale(1.2);
    }

    100%{
        opacity:0.4;
        transform:scale(1);
    }

}
